#eleven1 {
   font-size: 8pt;
   text-align: center; 
   font-family: 'ubuntu';
   color: black;
}

#eleven2 {
    font-size: 8pt;
    text-align: center;  
    font-family: 'ubuntu';
    margin-top: -15px;
    color: black;
 }
.elevenfifty {
    border: double 2px rgba(39, 39, 39, 0.322);
    border-radius: 50%;
    width:130px;
    height: 130px;
    text-align: center;
    margin-top: -7%;
    margin-left: 10%;
}
#elevenfifty img {
    height: 60px;
    width: auto;
    text-align: center;
    padding-top: 7px;
}

#mainbutton:hover {
   background-color:white;
   color: black;
}

#mainbutton2:hover {
   background-color:white;
   color: black;
 }

 #mainbutton {
    color: white;
    background-color: rgb(70, 71, 75);
    border: none;
    font-family: 'rock salt';
    font-size: 11pt;
    height: 45px;
}

#mainbutton2 {
    color: white;
    background-color: rgb(70, 71, 75);
    border: none;
    font-family: 'rock salt';
    font-size: 11pt;
    height: 45px;
}

.gdoc {
    font-family: 'ubuntu';
    font-size: 8pt;
}

.wdoc {
    font-family: 'ubuntu';
    font-size: 8pt;
}

.rbuttons {
    margin-top: 5%;
    margin-left: 5%
}