body {
    background: white;
}

#aboutme {
    padding-left: 30px;
    padding-right: 30px;

}

h5 {
    font-family: 'rock salt';
    font-size: 30pt;
}

#bio {
    font-size: 15pt;
    padding-top: 20px;
    padding-left: 60px;
}

#bio2 {
    font-size: 15pt;
}

.ml-3 {
    padding-left: 20px;
padding-bottom: 20px;
}

