body {
    background: white;
}

#aboutme {
    padding-left: 30px;
    padding-right: 30px;

}

h5 {
    font-family: 'playfair display sc';
    font-size: 30pt;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2%;
}

#bio {
    font-size: 15pt;
    padding-top: 5%;
    padding-left: 60px;
}

#bio2 {
    font-size: 15pt;
    padding-left: 60px;
}

.ml-3 {
    padding-left: 20px;
padding-bottom: 20px;
height: 520px;
}

