h2 {
    font-family: 'rock salt';
    font-size: 20pt;
    padding-bottom: 15px;
}

.form-group {
    font-family: 'ubuntu';
}

#contact {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    border-top: solid 1px rgba(121, 121, 121, 0.609);
    background-repeat: no-repeat;

}

label {
font-family: 'ubuntu';
}

.fa-paper-plane {
    margin-top: 9px;
    float: right;
    font-size: 16pt;
    padding-left: 4px;
}

.btn-black {
    font-family: "rock salt";
}

.btn-black:hover {
    background-image: url(https://images.unsplash.com/photo-1505468469067-796421d49801?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c2a4a328b59b237742e5c6e5393215b2&auto=format&fit=crop&w=1354&q=80);
    opacity: .7;
    background-size: cover;
    font-weight: bold;
}
