#footer {
    text-align: right;
    padding-right: 30px;
}

#smile {
    font-size: 22pt;
    color: rgb(226, 146, 92);
}

h4 {
   font-size: 15pt;
   font-family: 'playfair display sc';
   font-weight: bold;
}