#jumbo {
    background-image: url(https://images.unsplash.com/photo-1505468469067-796421d49801?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c2a4a328b59b237742e5c6e5393215b2&auto=format&fit=crop&w=1354&q=80);
   height: 1050PX;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    opacity: .92;

}

.container1 {
    opacity: 2;
}

h1.display-4 {
    font-family: 'rock salt';
    font-size: 30pt;
    font-style: italic;
    text-align: left;
    transform: skewY(-8deg);
    margin-left: 150px;
    margin-top: 150px;
    padding-bottom: 100px;
    color: black;
}

h3.display-4 {
    font-size: 100pt;
    font-weight: 700;
    text-align: center;
    font-family: 'playfair display sc';
    color: black;
}
.lead {
    text-align: center;
}

.my-4 {
    text-align: center;

}


h2.display-4 {
    margin-top: -50px;
    text-align: center;
    font-size: 20pt;
    color: black;
    font-weight: bold;
    opacity: .8;
}