.navbar {
    height: 60px;
}

.nav-item {
    color: var(--yellow);
    font-size: 14pt;
    font-family: 'playfair display sc';
    padding-left: 15px;
}
.navbar-brand {
    font-size: 15pt;
    text-decoration: none;
    font-weight: bold;
    font-family: 'rock salt';
    padding-left: 10px;
}

.my-jumbo {
    text-align: center;
}

.socialMedia {
    float: right;
}

.fa-linkedin:hover {
    color: white;
}

.fa-github:hover {
    color: white;
}

i {
    color: black;
    font-size: 35pt;
    padding: 0;
}

.buttonNav {
    height: 20px;
    width: 20px;
}

.dropdown-menu:hover {
 background: rgb(255, 255, 255)   
}

.dropdown-menu {
    margin-top: -2px;
    font-family: 'ubuntu';
    background-color: rgb(255, 255, 255);
}

.dropdown:hover>.dropdown-menu {
    display:block;
}

.dropdown-item:hover {
  color: rgb(202, 118, 85);
}

