#portfolio {
    border-top:rgba(226, 146, 92, 0.329) solid 1px;
    margin-bottom: 7%;
}
h6 {
    text-align: center;
    font-family: 'playfair display sc';
    font-weight: bold;
    font-size: 33pt;   
    margin-bottom: 2%;
    padding-top: 100px;
}

.container {
    display: inline;
}


.row {
    margin-left: 8%;
}

.col-xl {
    
    max-height: 400px;
    max-width: 400px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;

}

.col-xl img {
    width: 400px;
    height: 400px;
   object-fit:cover;
}

.imgtext {
    width: 400px;
    height: 400px;
    background-color: rgba(226, 146, 92, 0.664);
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    margin-top: -400px;
    padding: 20px;
    font-family: 'ubuntu';
    font-size: 22pt;
    opacity: 0;
}



.col-xl:hover .imgtext {
    visibility: visible;
    opacity: 1;
}

.col-xl:hover img {
    opacity: .2;
}

.col-xl p {
    font-size: 13pt;
    margin-top: 3%;
}

@media screen and (max-width: 1445px) { 
    .col-xl {
        max-height: 375px;
        max-width: 375px;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 2%;
    }

    .col-xl img {
        width: 375px;
        height: 375px;
       object-fit:cover;
    }

    .row {
        margin-left: 3%;
    }

    .imgtext {
        width: 375px;
        height: 375px;
        background-color: rgba(226, 146, 92, 0.664);
        color: black;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        margin-top: -375px;
        padding: 20px;
        font-family: 'ubuntu';
        font-size: 22pt;
        opacity: 0;
    }
   

    }

@media screen and (max-width: 1283px) { 
    .col-xl {
        max-height: 340px;
        max-width: 340px;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 2%;
    }

    .col-xl img {
        width: 340px;
        height: 340px;
       object-fit:cover;
    }

    .row {
        margin-left: 2.5%;
    }

    .imgtext {
        width: 340px;
        height: 340px;
        background-color: rgba(226, 146, 92, 0.664);
        color: black;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        margin-top: -340px;
        padding: 20px;
        font-family: 'ubuntu';
        font-size: 22pt;
        opacity: 0;
    }
}
