:root {
    --blue:#5c8ee0;
    --yellow: #f1f975;
    --pink: #e28ebe;
    --red: #c44040;
    --purple: #75567c;
    --green: #429b4e;
    --orange: #eda042;
    --seafoam: #56efe2;
    --gray: #ccd1e2;
    --lightblue: #dbfcff;
}